/* Regular Font */
@font-face {
  font-family: "Figtree-Regular";
  src: url("../public/font/Figtree/Figtree-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree-Medium";
  src: url("../public/font/Figtree/Figtree-Medium.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree-SemiBold";
  src: url("../public/font/Figtree/Figtree-SemiBold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree-Light";
  src: url("../public/font/Figtree/Figtree-Light.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree-Bold";
  src: url("../public/font/Figtree/Figtree-Bold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}





/* Inter  Font import here👀 */
@font-face {
  font-family: "Inter_28pt-Regular";
  src: url("../public/font/inter/Inter_28pt-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter_28pt-Medium";
  src: url("../public/font/inter/Inter_28pt-Medium.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter_28pt-SemiBold";
  src: url("../public/font/inter/Inter_28pt-SemiBold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter_28pt-Bold";
  src: url("../public/font/inter/Inter_28pt-Bold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter_28pt-Light";
  src: url("../public/font/inter/Inter_28pt-Light.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Define a CSS variable for the font */
:root {
  --reg-font: "Inter_28pt-Regular";
  --med-font: "Inter_28pt-Medium";
  --semibold-font: "Inter_28pt-SemiBold";
  --bold-font: "Inter_28pt-Bold";
  --light-font: "Inter_28pt-Light";
  --figtree-reg: "Figtree-Regular";
  --figtree-med: "Figtree-Medium";
  --figtree-bold: "Figtree-Bold";
}

/* Global class */
.reg-font {
  font-family: var(--reg-font) !important;
}

.med-font {
  font-family: var(--med-font) !important;
}
.bold-font {
  font-family: var(--semibold-font) !important;
}

.semibold-font {
  font-family: var(--semibold-font) !important;
}

.light-font {
  font-family: var(--light-font) !important;
}

.figtree-reg {
  font-family: var(--figtree-reg) !important;
}

.figtree-med {
  font-family: var(--figtree-med) !important;
}
.figtree-bold {
  font-family: var(--figtree-bold) !important;
}

body {
  font-family: var(--reg-font);
}